@tailwind base;
@tailwind components;
@tailwind utilities;

/* Creating Account Background */
.createBackground {
    background-image: url("../../public/Images/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}